services:
  feed_handler:
    build: 
      context: .
      dockerfile: docker/feed_handler/Dockerfile
    volumes:
      - ./feeds:/feeds
      - ~/.config/gcloud:/home/normaluser/.config/gcloud
    environment:
      - OPML_FILE=suomi_feeds.opml
      - BUCKET_NAME=suomiqueriestimokoolacom
  